@{
    ViewData["Title"] = "Volunteering";
    ViewData["VolActiveTab"] = "";
}

<div class="text-center py-4">
    <h4>Shift Browsing Closed</h4>
    <p class="text-muted mt-3">Shift browsing is not yet open. Check back later!</p>
</div>
