@{
    ViewData["Title"] = Localizer["AccessDenied_Title"].Value;
}

<div class="row justify-content-center">
    <div class="col-md-6 text-center mt-5">
        <h1 class="text-danger">@Localizer["AccessDenied_Title"]</h1>
        <p class="lead">@Localizer["AccessDenied_Description"]</p>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">@Localizer["Common_ReturnHome"]</a>
    </div>
</div>
