<div class="offcanvas offcanvas-end" tabindex="-1" id="history-panel" style="width:360px;">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Polygon History</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body p-2" id="history-list">
        <p class="text-muted text-center py-4">Loading…</p>
    </div>
</div>
