<div class="offcanvas offcanvas-end" tabindex="-1" id="history-panel" style="width:360px;">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="history-panel-title">@Localizer["CityPlanning_HistoryTitle"]</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body p-2" id="history-list">
        <p class="text-muted text-center py-4">@Localizer["CityPlanning_Loading"]</p>
    </div>
</div>
