@{
    ViewData["Title"] = Localizer["Error404_Title"].Value;
}

<div class="text-center mt-5">
    <h1 class="display-1 text-muted">404</h1>
    <h2>@Localizer["Error404_Title"]</h2>
    <p class="lead text-muted">@Localizer["Error404_Description"]</p>
    <div class="mt-4">
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">
            <i class="fa-solid fa-home me-1"></i>
            @Localizer["Common_ReturnHome"]
        </a>
    </div>
</div>
