@model Humans.Web.ViewComponents.AuditLogComponentViewModel

<ul class="list-group list-group-flush">
    @foreach (var entry in Model.Entries)
    {
        <li class="list-group-item py-2">
            @await Html.PartialAsync("Components/AuditLog/_Entry", entry, new ViewDataDictionary(ViewData)
            {
                ["UserDisplayNames"] = Model.UserDisplayNames,
                ["TeamNames"] = Model.TeamNames
            })
        </li>
    }
</ul>
