@model (string Variable, string Hex, string Label)
<div class="cp-swatch">
    <div class="cp-swatch-color" style="background-color: @Model.Hex;"></div>
    <div class="cp-swatch-info">
        <div class="cp-swatch-var">@Model.Variable</div>
        <div class="cp-swatch-hex">@Model.Hex</div>
        <div class="cp-swatch-label">@Model.Label</div>
    </div>
</div>
