@model TeamMemberRole
@inject IStringLocalizer<SharedResource> Localizer
@if (Model == TeamMemberRole.Coordinator)
{
    <span class="badge bg-warning text-dark">@Localizer["Profile_Coordinator"]</span>
}
else
{
    <span class="badge bg-secondary">@Localizer["Teams_Member"]</span>
}
